.containerHeader{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background: darkseagreen;
    .linksCont{
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      .links{

      }
    }
.logoBlock{
  .logo{

  }
}
}